<div class="container">
    <div class="profile"><img src="/assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <!-- READ ONLY MODE -->
        <ng-container *ngIf="!isEditMode">
            <div class="flex">
                <p>Username: </p>
                <p>{{profileDetails.username}}</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>{{profileDetails.email}}</p>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <p>+359 {{profileDetails.tel}}</p>
            </div>
            <button class="edit-button" (click)="toggleEditMode()">Edit</button>
        </ng-container>

        <!-- EDIT MODE -->
        <ng-container *ngIf="isEditMode">
            <form [formGroup]="form" (ngSubmit)="saveProfileHandler()">
                <!-- usrname input -->
                <!--todo if use template-driven forms and want current value? [value]="profileDetails?.username" -->
                <div class="flex">
                    <p>Username: </p>
                    <input type="text" name="username" id="username"
                    formControlName="username"
                  
                    >
                </div>
                <!-- user validation -->
                <ng-container *ngIf="form.get('username')?.touched">
                    <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                        Username is required!
                    </p>
                    <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                        Username Length should be lesss than 5 !
                    </p>
                </ng-container>
                <!-- email input -->
                <div class="flex">
                    <p>Email: </p>
                    <input type="email" name="email" id="email" 
                    formControlName="email"
                    
                    >
                </div>
                <!-- email validations -->
                <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">Email is not valid!</p>
                </ng-container>
                <!-- tel input -->
                <div class="flex">
                    <p>Phone: </p>
                    <div>
                        <select name="select-tel" id="select-tel" class="tel">
                            <option value="00359">+359</option>
                        </select>
                        <input type="text" name="tel" id="tel"
                    formControlName="tel"             
                        >
                    </div>
                </div>
                <!-- actions -->
                <button class="red-button" type="button" (click)="handleCancel()">Cancel</button>
                <button class="green-button" type="submit">Save</button>
            </form>
        </ng-container>
    </div>

</div>