<!-- Details -->
<div class="container" *ngIf="procedure">
  <div class="bg-soft-dark-to-start-75 overflow-hidden">
    <div class="container content-space-2">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-5 mb-10 mb-lg-0">
          <div class="position-relative">
            <img class="img-fluid" [src]="procedure.img" alt="{{procedure.label}}">

          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-6">
          <!-- Blockquote -->
          <figure class="blockquote-lg mb-7">
            <span class="text-cap text-muted">Price: {{procedure.price}}</span>

            <blockquote class="blockquote"><em>{{procedure.description}}</em></blockquote>

            <figcaption class="blockquote-footer">
              {{procedure.label}}
              <span class="blockquote-footer-source">Therapist: {{procedure.therapist}}</span>
            </figcaption>
          </figure>
          <!-- End Blockquote -->
          <!-- should add procedure to user ref in the back end -->
          <a class="btn btn-dark" href="#" *ngIf="isLoggedIn">Add</a> &nbsp;
          <a class="btn btn-dark" routerLink="/procedures">Cancel</a>
        
        </div>
        <!-- End Col -->
        
      </div>
      <!-- End Row -->
      <!-- todo if owner or admin -->
      <ng-container *ngIf="isLoggedIn">
        <a class="btn"><i class="bi bi-plus-square-fill" style="font-size: 2rem; color: #077C76" ></i></a>
        <a class="btn" (click)="del()"><i class="bi bi-trash3" style="font-size: 2rem; color: red;"></i></a>
      </ng-container>
    </div>

  </div>

</div>
<!-- End Details -->