
<!-- Hero -->
<div class="overflow-hidden content-space-t-md-1">
    <div class="container position-relative  content-space-b-2">
      <div class="w-lg-75 mx-lg-auto">
        <div class="text-center mb-5">
          <span class="text-cap">Follow your progress</span>
          <h1 class="display-4">Innovative and effective cosmetic and revitalizing procedures, <span class="text-success">created by us especially for you.</span></h1>
        </div>
  
      <div class="w-lg-65 mx-lg-auto">
        <!-- Input Card -->
        <form>
          <div class="input-card input-card-sm">
            <div class="input-card-form">
              <label for="nameRegisterForm" class="form-label visually-hidden">Enter your name</label>
              <input type="text" class="form-control form-control-lg" id="nameRegisterForm" placeholder="Your name" aria-label="Your name">
            </div>
            <div class="input-card-form">
              <label for="emailRegisterForm" class="form-label visually-hidden">Enter email</label>
              <input type="text" class="form-control form-control-lg" id="emailRegisterForm" placeholder="Your email" aria-label="Your email">
            </div>
            <button type="button" class="btn btn-success btn-lg">Get started</button>
          </div>
        </form>
        <!-- End Input Card -->
  
        <!-- SVG Shape -->
        <figure class="position-absolute top-50 end-0 translate-middle-y d-none d-md-block" style="width: 17rem; margin-right: -10rem;">
          <img class="img-fluid" src="/assets/svg/components/three-arrows-1.svg" alt="Image Description">
        </figure>
        <!-- End SVG Shape -->
  
        <!-- SVG Shape -->
        <figure class="position-absolute top-50 start-0 translate-middle-y d-none d-md-block" style="width: 14rem; margin-left: -10rem;">
          <img class="img-fluid" src="/assets/svg/components/three-arrows-2.svg" alt="Image Description">
        </figure>
        <!-- End SVG Shape -->
      </div>
    </div>
  </div>
  <!-- End Hero -->

