<!-- Card Grid -->
<div *ngIf="isLoading"><app-spinner /></div>
<div *ngIf="!isLoading" class="container content-space-1">
    <!-- Heading -->
    <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
        <h2>Our services designed from experienced professionals</h2>
    </div>
    <!-- End Heading -->

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mb-5 mb-md-0" *ngFor="let card of proceduresList">
            <!-- Card -->
            <a class="card card-ghost card-transition-zoom h-100" [routerLink]="card._id">
                <div class="card-transition-zoom-item">
                    <img class="card-img" src={{card.img}} alt="{{card.label}}">
                </div>

                <div class="card-body">
                    <h4>{{card.label}}</h4>
                    <p class="card-text">{{card.description}}</p>
                </div>

                <div class="card-footer">
                    <span class="card-link">Explore {{card.label}}</span>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Card Grid -->